.update-counters {
    background-color: $moduleBackground;
    border-radius: 20px;
    padding: 0 10px;
}
/**/
/* .update-counters .updates-icon { */
/*     font-size: 14px; */
/*     color: @color1; */
/* } */

.pacman-updates {
    margin-right: 5px;
}

.aur-updates {
    margin-left: 5px;
}
