.workspaces {
    background-color: $moduleBackground;
    border-radius: 50px;
}

.workspace {
    all: unset;
    background: transparent;
    border-radius: 50px;
    min-width: 15px;
    min-height: 15px;
    padding: 5px;
}

.workspace:not(:last-child) {
    margin-right: 5px;
}

.workspace.occupied {
    background-color: rgba(100, 100, 100, 0.3);
}

.workspace.active {
    background-color: $color1;
}

.workspace:hover {
    background-color: $color3;
}
