* {
  font-family: "JetBrainsMonoNL Nerd Font";
}

window {
  color: #f0c4bf;
  background-color: #0d0c12;
}

.bar > * {
  padding: 4px;
}

tooltip {
  background: #0d0c12;
  color: #f0c4bf;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px;
}

.icon {
  color: #98354A;
  font-size: 22px;
}

separator {
  background-color: rgba(200, 200, 200, 0.1);
}

separator.vertical {
  margin: 10px 0;
}

separator.horizontal {
  margin: 0 10px;
}

* {
  all: unset;
  margin: 0;
  padding: 0;
}

.battery {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.battery-level {
  margin-right: 5px;
}

.clock {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 0 10px;
}

.time {
  font-weight: bold;
  margin-right: 5px;
}

.date {
  margin-left: 5px;
}

.separator {
  font-size: 20px;
  color: #505050;
}

.currently-playing {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.currently-playing-icon {
  margin-right: 5px;
  color: green;
}

.menu-toggle {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.menu-toggle-icon {
  margin-right: 2px;
}

.power .power-button {
  color: #d14038;
}

.power:hover {
  color: white;
}

.update-counters {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 0 10px;
}

/**/
/* .update-counters .updates-icon { */
/*     font-size: 14px; */
/*     color: @color1; */
/* } */
.pacman-updates {
  margin-right: 5px;
}

.aur-updates {
  margin-left: 5px;
}

.volume {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.weather {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.weather-icon {
  font-size: 22px;
  margin-right: 5px;
}

.workspaces {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
}

.workspace {
  all: unset;
  background: transparent;
  border-radius: 50px;
  min-width: 15px;
  min-height: 15px;
  padding: 5px;
}

.workspace:not(:last-child) {
  margin-right: 5px;
}

.workspace.occupied {
  background-color: rgba(100, 100, 100, 0.3);
}

.workspace.active {
  background-color: #98354A;
}

.workspace:hover {
  background-color: #A84959;
}

.next-event {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.next-event-icon {
  margin-right: 5px;
}

.quick-lock {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
}

.toggle-layout {
  background-color: rgba(255, 255, 255, 0.05);
  min-width: 10px;
  min-height: 10px;
  border-radius: 50px;
  padding: 5px;
}

.settings-button {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
}

.idle-inhibitor-button {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
}

.calendar-window {
  background-color: #0d0c12;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #202020;
}

.calendar calendar {
  all: unset;
  font-size: 20px;
  padding: 5px;
}

.calendar .button {
  all: unset;
  border-radius: 5px;
}

.calendar {
  box-shadow: inset 0 -6px 0 2px transparent;
  transition: 1s box-shadow;
}

.calendar:selected {
  box-shadow: inset 0 -6px 0 2px #98354A;
  border-radius: 15px;
}

.calendar.highlight,
.calendar.button {
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
}

.calendar:indeterminate {
  color: rgba(255, 255, 255, 0.2);
}

.timezones {
  background-color: rgba(255, 255, 255, 0.05);
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.foreign-timezones {
  margin-top: 10px;
  margin-bottom: 10px;
}

.foreign-timezone {
  background-color: rgba(80, 80, 80, 0.2);
  margin: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.foreign-timezone .foreign-timezone-label {
  font-size: 14px;
  margin-bottom: 2px;
}

.foreign-timezone .foreign-timezone-time {
  font-size: 16px;
  font-weight: bold;
}

.current-timezone {
  padding: 20px;
}

.calendar-time {
  font-size: 40px;
  font-weight: bold;
}

.calendar-date {
  font-size: 20px;
}

.calendar-button-row {
  padding: 10px;
}

.calendar-today-button {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  border-radius: 20px;
}

.notification {
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  min-width: 350px;
  border: 1px solid #202020;
  background-color: #0d0c12;
}

.notification-content {
  padding: 5px;
}

.notification-title {
  font-weight: bold;
  color: #f0c4bf;
}

.notification-time {
  color: #606060;
}

.notification-close {
  transition: color 0.2s;
}

.notification-close:hover {
  color: red;
}

.notification-icon {
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
}

.notification-icon image {
  font-size: 50px;
}

.notification-icon box {
  min-width: 50px;
  min-height: 50px;
}

.notification-actions {
  margin: 10px 0;
}

.notification-action {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.notification separator {
  margin: 0;
}

.notifications-container .notification {
  background-color: rgba(255, 255, 255, 0.05);
}

.notifications-toggle {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 10px;
  border-radius: 20px;
}

.notifications-container {
  padding: 10px;
}

.notifications-title {
  font-weight: bold;
  font-size: 20px;
}

#notifications-overview {
  border-radius: 20px;
  padding: 20px;
  min-width: 300px;
  border: 1px solid #202020;
}

.notifications-header {
  padding: 10px;
}

.notifications-clear-all {
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 20px;
  padding: 5px 10px;
}

.notifications-clear-all-label {
  padding: 0;
  margin: 0;
  all: unset;
}

.no-notifications-label {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.notifications-toggles {
  padding: 10px;
}

.dnd-switch {
  background-color: #404040;
  color: transparent;
  border-radius: 20px;
  min-width: 30px;
  min-height: 20px;
  transition: background-color 0.1s;
  margin-right: 10px;
}

.dnd-switch.active {
  background-color: #98354A;
}

.dnd-switch slider {
  background-color: #f0c4bf;
  border-radius: 50px;
  min-width: 10px;
  min-height: 10px;
}

#menu {
  border-radius: 20px;
  background-color: #0d0c12;
  border: 1px solid #202020;
}

.menu-container {
  min-width: 500px;
}

.menu-slider-slider slider {
  background-color: #98354A;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50px;
}

.menu-slider-slider mark indicator {
  background-color: red;
}

.menu-slider-slider contents trough {
  background-color: rgba(255, 255, 255, 0.05);
  min-height: 10px;
}

.menu-slider-slider contents fill {
  background-color: #98354A;
}

.menu-actions {
  background-color: rgba(255, 255, 255, 0.05);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
}

.menu-actions button {
  margin-bottom: 10px;
  background-color: rgba(50, 50, 50, 0.6);
}

.menu-content {
  padding: 20px;
}

.menu-sliders {
  padding: 20px;
}

.menu-sliders box {
  margin-bottom: 10px;
}

#notification-popups {
  background-color: transparent;
}

.notification-popups-list .notification {
  background-color: #0d0c12;
  margin-bottom: 6px;
}

.weather-overview {
  background-color: rgba(255, 255, 255, 0.05);
}
