.quick-lock {
    background-color: @moduleBackground;
    border-radius: 50px;
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
}

.quick-lock-icon {
    font-size: 22px;
    color: @color1;
}
