@import "../components/notification";

.notifications-container .notification {
    background-color: $moduleBackground;
}

.notifications-toggle {
    background-color: $moduleBackground;
    padding: 0 10px;
    border-radius: 20px;
}

.notifications-container {
    padding: 10px;
}

.notifications-title {
    font-weight: bold;
    font-size: 20px;
}

#notifications-overview {
    border-radius: 20px;
    padding: 20px;
    min-width: 300px;
    border: 1px solid #202020;
}

.notifications-header {
    padding: 10px;
}

.notifications-clear-all {
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 20px;
    padding: 5px 10px;
}

.notifications-clear-all-label {
    padding: 0;
    margin: 0;
    all: unset;
}

.no-notifications-label {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
}

.notifications-toggles {
    padding: 10px;
}

.dnd-switch {
    background-color: #404040;
    color: transparent;
    border-radius: 20px;
    min-width: 30px;
    min-height: 20px;
    transition: background-color 0.1s;
    margin-right: 10px;
}

.dnd-switch.active {
    background-color: $color1;
}

.dnd-switch slider {
    background-color: $foreground;
    border-radius: 50px;
    min-width: 10px;
    min-height: 10px;
}
