@import "../components/notification.css";

.notifications-container .notification {
    background-color: @moduleBackground;
}

.notifications-toggle {
    background-color: @moduleBackground;
    padding: 0 10px;
    border-radius: 20px;
}

.notifications-container {
    padding: 10px;
}

.notifications-title {
    font-weight: bold;
    font-size: 20px;
}

#notifications-overview {
    border-radius: 20px;
    padding: 20px;
    min-width: 300px;
}

.notifications-header {
    padding: 10px;
}

.notifications-clear-all {
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 20px;
    padding: 5px 10px;
}

.notifications-clear-all-label {
    padding: 0;
    margin: 0;
    all: unset;
}
