#update-overview {
    background-color: $background;
    color: $foreground;
    border-radius: 20px;
    border: 1px solid #202020;
}

.update-overview-container {
    padding: 10px;
}

.update-overview-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.update-overview-refresh-icon {
    font-size: 20px;
}

.update-overview-header {
    font-size: 16px;
    margin: 5px 0;
}

.update-overview-list-item {
    background-color: $moduleBackground;
    padding: 5px 10px;
    border-radius: 20px;

    &-old-version {
        color: rgba(255, 0, 0, 150);
    }

    &-new-version {
        color: rgba(0, 255, 0, 150);
    }
}

.update-overview-list-scrollable {
    min-height: 400px;
    min-width: 300px;
}

.no-updates-label {
    color: #606060;
}
