.notification {
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    min-width: 350px;
    border: 1px solid #202020;
    background-color: @background;
}

.notification-content {
    padding: 5px;
}

.notification-title {
    font-weight: bold;
    color: @foreground;
}

.notification-time {
    color: #606060;
}

.notification-close {
    transition: color 0.2s;
}

.notification-close:hover {
    color: red;
}

.notification-icon {
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
}

.notification-icon image {
    font-size: 50px;
}

.notification-icon box {
    min-width: 50px;
    min-height: 50px;
}

.notification-actions {
    margin: 10px 0;
}

.notification-action {
    background-color: @moduleBackground;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.notification separator {
    margin: 0;
}
