.notification {
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    min-width: 350px;
}

.notification-content {
    padding: 5px;
}

.notification-title {
    font-weight: bold;
    color: @foreground;
}

.notification-time {
    color: #606060;
}

.notification-close {
    transition: color 0.2s;
}

.notification-close:hover {
    color: red;
}

.notification-icon {
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
}

.notification-icon image {
    font-size: 50px;
}

.notification-icon box {
    min-width: 50px;
    min-height: 50px;
}

.notification-action {
    background-color: red;
}
