@import "config.scss";

* {
    font-family: "JetBrainsMonoNL Nerd Font";
}

#top_bar {
    color: $foreground;
    background-color: $background;
    border-bottom: 1px solid #202020;
}

.bar > * {
    padding: 4px;
}

tooltip {
    background: $background;
    color: $foreground;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px;
}

.icon {
    color: $color1;
    font-size: 22px;
}

separator {
    background-color: rgba(200, 200, 200, 0.1);
}

separator.vertical {
    margin: 10px 0;
}

separator.horizontal {
    margin: 0 10px;
}

selection {
    background-color: $color1;
}

menu {
    padding: 5px;
    border-radius: 20px;
    background-color: $background;
    border: 1px solid #202020;

    menuitem {
        padding: 5px 10px;
        margin: 5px;
        border-radius: 20px;
        transition: 0.2s;

        &:disabled {
            color: darken($foreground, 40%);
        }

        &:hover {
            background-color: $moduleBackground;
        }

    }
}
