* {
    all: unset;
    margin: 0;
    padding: 0;
}

@import "widgets/battery";
@import "widgets/clock";
@import "widgets/currently_playing";
@import "widgets/menu";
@import "widgets/update_counter";
@import "widgets/volume";
@import "widgets/weather";
@import "widgets/workspaces";
@import "widgets/notifications_toggle";
@import "widgets/next_event";
@import "widgets/system_tray";
@import "widgets/now_playing";

@import "widgets/menu/menu";

@import "windows/calendar";
@import "windows/notification_overview";
@import "windows/menu";
@import "windows/notification_popups";
@import "windows/weather_overview";
@import "windows/volume_change";
@import "windows/update_overview";
@import "windows/players";
