* {
    all: unset;
    margin: 0;
    padding: 0;
}

@import "widgets/battery.css";
@import "widgets/clock.css";
@import "widgets/currently_playing.css";
@import "widgets/menu.css";
@import "widgets/power.css";
@import "widgets/update_counter.css";
@import "widgets/volume.css";
@import "widgets/weather.css";
@import "widgets/workspaces.css";

@import "windows/calendar.css";
@import "windows/notification_overview.css";
/* @import "windows/notification_popups.css"; */
